.identity { 
    color: white;
    text-align: justify;
}

.supportus { 
    color: var(--white); 
    padding: 3rem 9rem;
    position: relative; 
    border: solid var(--white) ;
    border-width: 2px;
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding-bottom: 6rem;
    background-color: rgba(0, 0, 0, 0.322);
}

.supportus.container { 
    display: flex; 
    flex-wrap: wrap;
    gap: 40px;
    max-width: 1200px;
    align-items: flex-start;
}

.supportus-desc .supportus-form { 
    flex: 1;
    min-width: 300px;
}

.supportus-desc h1 .supportus-desc p .supportus-form h2{ 
    margin-bottom: 20px;
}

.supportus-desc p { 
    line-height: 1.5;
}

.supportus-form { 
    padding-top: 30px;
}

.supportus-form input,
.supportus-form textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    font-size: 14px;
}

.supportus-form textarea {
    resize: none;
}

button, .btn{
    box-sizing: border-box;
    border: 0;
    border-radius: 20px;
    color: var(--white);
    padding: 1em 1.8em;
    background: var(--orange);
    display: flex;
    transition: 0.2s;
    align-items: center;
    gap: 0.6em;
    font-weight: bold;
    cursor: pointer;
    margin-top: 2rem;
}

button:hover {
    background-color: var(--white);
    color: var(--black);
}

.contactus-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: flex-start;
    padding-top: 10rem;
}

.contactus-map {
    flex: 1 1 400px;
    min-width: 300px;
}

.contactus {
    flex: 1 1 300px;
    min-width: 250px;
    color: white;
    padding-top: 6rem;
}

.contactus a { 
    color: var(--white);
}

.contactus a:hover { 
    color: var(--orange);
    transition: all 0.3s ease-in-out;
}

.contactus-info {
    font-size: 1.5rem;
}

.contactus-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding-top: 2rem;
}

.contactus-item i {
    font-size: 1.5em;
    margin-right: 10px;
}

.supportus-form h1 { 
    text-align: center;
    color: var(--color-white);
    margin-bottom: 3rem;
    font-size: 2.3rem;
    text-decoration: underline;
    text-decoration-color: var(--orange);
    text-underline-offset: 15px;
}
