.footer-container {
    background-color: var(--black);
    text-align: center;
    padding: 1rem;
}

.footer-logo { 
    justify-self: center;
    cursor: pointer;
}

.footer-logo img {
    width: 100px; 
    height: auto;
    padding-bottom: 10px;
    display: block;
    margin: 0 auto;
}
.footer-address {
    border-top: 1px solid #444;
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 25px;
}

.footer-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 700px;
}

.footer-item {
    color: var(--white);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 16px;
}

.footer-item i {
    color: var(--white);
    font-size: 20px;
}

.footer-info a:hover { 
    color: var(--orange); 
    transition: all 0.3s ease-in-out;
}

.footer-bottom {
    border-top: 1px solid #444;
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; 
    margin-top: 20px;
    color: var(--white);
    margin-left: 5%;
    margin-right: 5%;
}

.footer-social img {
    transition: opacity 0.3s ease;
}

.footer-social img:hover {
    opacity: 0.5;
}

