<div ng-controller="AboutUsController" id="view">

    <section class="aboutus">
        <div class="aboutus-company reverse-on-mobile">
            <img src="/assets/logo/jmm-logo-white.png" class="aboutus-company-logo reverse-on-mobile-img">

            <div class="aboutus-company-text">
                <p>
                    Originally named as HDR Motor in 1985 focus mainly in Indonesia market as a car seat leather distributors and other car accessories suppliers for Indonesia market. In 2021, JMM Auto is established focusing on retail and overseas market.
                </p>
            </div>
        </div>

        <div class="aboutus-desc reverse-on-mobile-reverse" >
            <div class="aboutus-desc-content">
                <h2>
                    WHY US?
                </h2>

                <p>
                    As we are expertising in the Car Seat Leather Industry, we are the right partner for you to enhance your business performance especially in the automotive interior industry, as we are always committed to the trust, quality and precision of our products.
                    <br><br>
                    Our mission is to be the best in delivering our products and also provide the solution in the industry.
                </p>
            </div>

            <div class="aboutus-desc-img">
                <img src="/assets/aboutus/image.jpg" alt="aboutus-desc-img">
            </div>
        </div>

    </section>

</div>