<div ng-controller="HomeController">

    <section class="banner">
        <div class="banner-container no-gutter">
            <div class="banner-img">
                <img src="/assets/banner/home-banner.png" alt="home-banner">
            </div>
            
            <div class="banner-content">
                <h1><span class="jmm">JMM </span>AUTO</h1>
                <p>CAR SEAT SPECIALIST</p>
            </div>
        </div>
    </section>

    <section class="home-about" id="view">
        <div class="home-about-content">
            <h1><span class="jmm">JMM </span>AUTO</h1><br>

            <p>We are car seat leather makers originally from Indonesia. Located in Jln. Danau Sunter Utara Block C1 No.15, Jakarta. We specialize in the design, manufacturing, sales and service of car/bus seats with clients covering whole Indonesia. We have an experience in the industry for over 25+ years and have been trusted by many auto workshops across Indonesia.</p>
        </div>
    </section>
    
    <section id="view">
        <div class="catalog-section" id="view">
            <div class="catalog-h1-title">
                <h1>
                    OUR PRODUCTS
                </h1>
            </div>

            <div class="catalog-container">
                <a href="#/product-view?id=1" class="catalog-item">
                    <img src="assets/catalog/car-seat-cover-1.png">
                    <div class="catalog-title">CAR SEAT COVER</div>
                </a>

                <a href="#/product-view?id=2" class="catalog-item">
                    <img src="assets/catalog/car-base-carpet-1.png">
                    <div class="catalog-title">Car Base Carpet</div>
                </a>

                <a href="#/product-view?id=3" class="catalog-item">
                    <img src="assets/catalog/car-body-cover-1.png">
                    <div class="catalog-title">Car Body Cover</div>
                </a>
            </div>
        </div>

        <div class="reviews" id="view">
            <div class="reviews-title">
                <h1>REVIEWS FROM OUR CUSTOMERS</h1>
            </div>

            <div class="reviews-scroll-wrapper">
                <div ng-href="" class="reviews-content">
                    <a href="https://maps.app.goo.gl/uegB1GSTrBmGrByf9" class="reviews-images">
                        <img src="/assets/reviews/review-1.png" alt="review-img">
                    </a>
                    
                    <a href="https://maps.app.goo.gl/LjDSgBhTU8maH7YU7" class="reviews-images">
                        <img src="/assets/reviews/review-2.png" alt="review-img">
                    </a>

                    <a href="https://maps.app.goo.gl/gDQm2MNxiDmtCifS7" class="reviews-images">
                        <img src="/assets/reviews/review-3.png" alt="review-img">
                    </a>
                </div>
            </div>
        </div>

        <div class="home-about" id="view">
            <div class="home-about-content">
                <h1><span class="jmm">JMM </span>AUTO</h1><br>

                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. <br><br> It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            </div>
        </div>

        <div class="home-sponsors" id="view">
            <div class="sponsors-logo">
                <div class="sponsor-logos">
                    <img src="/assets/sponsors/autoleder-logo.png" alt="">
                </div>

                <div class="sponsor-logos">
                    <img src="/assets/sponsors/lederlux-logo.png" alt="">
                </div>

                <div class="sponsor-logos">
                    <img src="/assets/sponsors/mbtech-logo.png" alt="">
                </div>

                <div class="sponsor-logos">
                    <img src="/assets/sponsors/visionlogo.png" alt="">
                </div>
            </div>
        </div>
    </section>

</div>