<div ng-controller="HomeController">

    <section class="banner">
        <div class="banner-container no-gutter">
            <div class="banner-img">
                <img src="/assets/banner/home-banner.png" alt="home-banner">
            </div>
            
            <div class="banner-content">
                <h1><span class="jmm">JMM </span>AUTO</h1>
                <p data-lang="banner-content">CAR SEAT SPECIALIST</p>
            </div>
        </div>
    </section>

    <section class="home-about" id="view">
        <div class="home-about-content">
            <h1><span class="jmm">JMM </span>AUTO</h1><br>

            <p data-lang="home-about-content">We are car seat leather makers originally from Indonesia. Located in Jln. Danau Sunter Utara Block C1 No.15, Jakarta. We specialize in the design, manufacturing, sales and service of car/bus seats with clients covering whole Indonesia. We have an experience in the industry for over 25+ years and have been trusted by many auto workshops across Indonesia.</p>
        </div>
    </section>
    
    <section id="view">
        <div class="catalog-section" id="view">
            <div class="catalog-h1-title">
                <h1 class="catalog-title-main" data-lang="catalog-title-main">
                    POPULAR PRODUCTS
                </h1>
            </div>

            <div class="catalogs-container">
                <a href="#/product-view?id=1" class="catalogs-item">
                    <img src="assets/catalog/car-seat/car-seat-2.png">
                    <div class="catalogs-title" data-lang="catalogs-item-seat">CAR SEAT COVER</div>
                </a>

                <a href="#/product-view?id=2" class="catalogs-item">
                    <img src="assets/catalog/leather-mat/leather-mat-3.png">
                    <div class="catalogs-title" data-lang="catalogs-item-carpet">Car Base Carpet</div>
                </a>

                <a href="#/product-view?id=3" class="catalogs-item">
                    <img src="assets/catalog/body-cover/body-cover-1.png">
                    <div class="catalogs-title" data-lang="catalogs-item-cover">Car Body Cover</div>
                </a>
            </div>
        </div>

        <section class="reviews-section" id="reviews">
            <h1 class="review-title" data-lang="reviews-title">REVIEWS FROM OUR CUSTOMERS</h1>

            <div class="reviews-wrapper">
                <div class="review-card">
                    <p>Tempat bagus dan makanan enak dan nyaman dan bersih toiet juga bersih mantap</p>
                    <span class="review-author">Lumos Hdr</span>
                </div>

                <div class="review-card">
                    <p>mobill baguss pelayanan expes mantepp terimakasih jmm</p>
                    <span class="review-author">Alok Tzy</span>
                </div>

                <div class="review-card">
                    <p>Tempat specialist sarung jok the best one di Jakut Danau Sunter..thanks for om Herry and team utk service dan hasil yang sangat memuaskan..all the best~ 👍👍👍👍👍</p>
                    <span class="review-author">Aditia Santoso Matdjabar</span>
                </div>

                <div class="review-card" href="">
                    <p>sarung jok harga murah kualitas bagus, jahitan rapi tanpa cacat, proses cpt & bisa langsung pasang di showroom, lokasi mudah dijangkau di daerah kali sunter. keren pokoknya 👍👍👍👍👍5⭐</p>
                    <span class="review-author">Olopan Victor A Simorangkir</span>
                </div>

                <div class="review-card">
                    <p>Harga dan kualitas sesuai, ga nipu customer yg ga ngerti kulit, pengerjaannya juga cepet dan rapi banget. Bakalan jadi customer tetap deh pokoknya</p>
                    <span class="review-author">Meli Himawan</span>
                </div>
            </div>
        </section>

        <div class="home-sponsors" id="view">
            <div class="sponsors-logo">
                <div class="sponsor-logos">
                    <img src="/assets/sponsors/autoleder-logo.png" alt="">
                </div>

                <div class="sponsor-logos">
                    <img src="/assets/sponsors/lederlux-logo.png" alt="">
                </div>

                <div class="sponsor-logos">
                    <img src="/assets/sponsors/mbtech-logo.png" alt="">
                </div>

                <div class="sponsor-logos">
                    <img src="/assets/sponsors/visionlogo.png" alt="">
                </div>
            </div>
        </div>
    </section>

</div>