<div ng-controller="HomeController">

    <section class="banner">
        <div class="banner-container no-gutter">
            <div class="banner-img">
                <img src="/assets/banner/home-banner.png" alt="home-banner">
            </div>
            
            <div class="banner-content">
                <h1><span class="jmm">JMM </span>AUTO</h1>
                <p data-lang="banner-content">CAR SEAT SPECIALIST</p>
            </div>
        </div>
    </section>

    <section class="home-about" id="view">
        <div class="home-about-content">
            <h1><span class="jmm">JMM </span>AUTO</h1><br>

            <p data-lang="home-about-content">We are car seat leather makers originally from Indonesia. Located in Jln. Danau Sunter Utara Block C1 No.15, Jakarta. We specialize in the design, manufacturing, sales and service of car/bus seats with clients covering whole Indonesia. We have an experience in the industry for over 25+ years and have been trusted by many auto workshops across Indonesia.</p>
        </div>
    </section>
    
    <section id="view">
        <div class="catalog-section" id="view">
            <div class="catalog-h1-title">
                <h1 class="catalog-title-main" data-lang="catalog-title-main">
                    POPULAR PRODUCTS
                </h1>
            </div>

            <div class="catalogs-container">
                <a href="#/product-view?id=1" class="catalogs-item">
                    <img src="assets/catalog/car-seat/car-seat-2.png">
                    <div class="catalogs-title" data-lang="catalogs-item-seat">CAR SEAT COVER</div>
                </a>

                <a href="#/product-view?id=2" class="catalogs-item">
                    <img src="assets/catalog/leather-mat/leather-mat-3.png">
                    <div class="catalogs-title" data-lang="catalogs-item-carpet">Car Base Carpet</div>
                </a>

                <a href="#/product-view?id=3" class="catalogs-item">
                    <img src="assets/catalog/body-cover/body-cover-1.png">
                    <div class="catalogs-title" data-lang="catalogs-item-cover">Car Body Cover</div>
                </a>
            </div>
        </div>

        <section class="reviews-section" id="reviews">
            <h1 class="review-title" data-lang="reviews-title">REVIEWS FROM OUR CUSTOMERS</h1>

            <button class="arrow left" id="prev">&#10094;</button>

            <div class="carousel-container">

                <div class="reviews-wrapper" id="reviewsWrapper">
                    <a class="review-card" href="https://share.google/A8MiSmF4BTnRDtq5z">
                        <p data-lang="reviews-card-1">Nice place with delicious food, comfortable atmosphere, and clean facilities, including the restroom. Excellent!</p><br>
                        <span class="review-author">Lumos Hdr</span>
                    </a>

                    <a class="review-card" href="https://share.google/A8MiSmF4BTnRDtq5z">
                        <p data-lang="reviews-card-2">Great car, express service, awesome job! Thank you JMM!</p><br>
                        <span class="review-author">Alok Tzy</span>
                    </a>

                    <a class="review-card" href="">
                        <p data-lang="reviews-card-3">The best seat cover specialist in North Jakarta, Danau Sunter area. Excellent service and satisfying results 👍</p><br>
                        <span class="review-author">Aditia Santoso Matdjabar</span>
                    </a>

                    <a class="review-card" href="">
                        <p data-lang="reviews-card-4">ffordable seat covers with great quality, neat stitching, no defects, quick process, and installation on the spot.</p><br>
                        <span class="review-author">Olopan Victor A Simorangkir</span>
                    </a>

                    <a class="review-card" href="">
                        <p data-lang="reviews-card-5">Good value for money — fast and neat work. Definitely becoming a regular customer!</p><br>
                        <span class="review-author">Meli Himawan</span>
                    </a>
                </div>
            </div>

            <button class="arrow right" id="next">&#10095;</button>

        </section>

        <div class="home-sponsors" id="view">
            <div class="sponsors-logo">
                <div class="sponsor-logos">
                    <img src="/assets/sponsors/autoleder-logo.png" alt="">
                </div>

                <div class="sponsor-logos">
                    <img src="/assets/sponsors/lederlux-logo.png" alt="">
                </div>

                <div class="sponsor-logos">
                    <img src="/assets/sponsors/mbtech-logo.png" alt="">
                </div>

                <div class="sponsor-logos">
                    <img src="/assets/sponsors/visionlogo.png" alt="">
                </div>
            </div>
        </div>
    </section>

</div>