<div ng-controller="BlogController" id="view">

    <div class="product-title">
        <h1>OUR PRODUCTS</h1>
    </div>

    <section class="catalog-section">
        <div class="catalog-container">
            <a href="assets/products/1.png" class="catalog-item">
                <img src="assets/products/1.png">
                <div class="catalog-title">MODEL 1</div>
            </a>


            <a href="assets/products/2.png" class="catalog-item">
                <img src="assets/products/2.png">
                <div class="catalog-title">MODEL 2</div>
            </a>

            <a href="assets/products/3.png" class="catalog-item">
                <img src="assets/products/3.png">
                <div class="catalog-title">MODEL 3</div>
            </a>

            <a href="assets/products/4.png" class="catalog-item">
                <img src="assets/products/4.png">
                <div class="catalog-title">MODEL 4</div>
            </a>

            <a href="assets/products/5.png" class="catalog-item">
                <img src="assets/products/5.png">
                <div class="catalog-title">MODEL 5</div>
            </a>

            <a href="assets/products/6.png" class="catalog-item">
                <img src="assets/products/6.png">
                <div class="catalog-title">MODEL 6</div>
            </a>

            <a href="assets/products/7.png" class="catalog-item">
                <img src="assets/products/7.png">
                <div class="catalog-title">MODEL 7</div>
            </a>

            <a href="assets/products/8.png" class="catalog-item">
                <img src="assets/products/8.png">
                <div class="catalog-title">MODEL 8</div>
            </a>

            <a href="assets/products/9.png" class="catalog-item">
                <img src="assets/products/9.png">
                <div class="catalog-title">MODEL 9</div>
            </a>

            <a href="assets/products/10.png" class="catalog-item">
                <img src="assets/products/10.png">
                <div class="catalog-title">MODEL 10</div>
            </a>

            <a href="assets/products/11.png" class="catalog-item">
                <img src="assets/products/11.png" >
                <div class="catalog-title">MODEL 11</div>
            </a>

            <a href="assets/products/12.png" class="catalog-item">
                <img src="assets/products/12.png">
                <div class="catalog-title">MODEL 12</div>
            </a>
        </div>
    </section>

    <div id="imageModal" class="modal">
        <span class="close">&times;</span>
        <img class="modal-content" id="modalImage" alt="">
    </div>


</div>