<div ng-controller="ProductCatController" id="view">

    <div class="products-title">
        <h1>OUR PRODUCTS</h1>
    </div>

    <br><br>

    <div class="catalogs-container">
        <a href="#/product-view?id=1" class="catalogs-item">
            <img src="/assets/catalog/car-seat/car-seat-3.png">
            <div class="catalogs-title">Car Seat Leather</div>
        </a>

        <a href="#/product-view?id=2" class="catalogs-item">
            <img src="/assets/catalog/leather-mat/leather-mat-2.png">
            <div class="catalogs-title">Car Leather Floor Mat</div>
        </a>

        <a href="#/product-view?id=3" class="catalogs-item">
            <img src="/assets/catalog/body-cover/body-cover-1.png">
            <div class="catalogs-title">Car Body Cover</div>
        </a>

        <a href="#/product-view?id=4" class="catalogs-item">
            <img src="/assets/catalog/recaro-seat/recaro-seat-3.png">
            <div class="catalogs-title">Recaro seat</div>
        </a>

        <a href="#/product-view?id=5" class="catalogs-item">
            <img src="assets/catalog/not-found.png">
            <div class="catalogs-title">Coming Soon</div>
        </a>

        <a href="#/product-view?id=6" class="catalogs-item">
            <img src="assets/catalog/not-found.png">
            <div class="catalogs-title">COMING SOON</div>
        </a>
    </div>

</div>