<div ng-controller="ProductCatController" id="view">

    <div class="product-title">
        <h1>OUR PRODUCTS</h1>
    </div>

    <br><br>

    <div class="catalog-container">
        <a href="#/product-view?id=1" class="catalog-item">
            <img src="/assets/catalog/car-seat/car-seat-3.png">
            <div class="catalog-title">Car Seat Leather</div>
        </a>

        <a href="#/product-view?id=2" class="catalog-item">
            <img src="/assets/catalog/leather-mat/leather-mat-3.png">
            <div class="catalog-title">Car Leather Floor Mat</div>
        </a>

        <a href="#/product-view?id=3" class="catalog-item">
            <img src="/assets/catalog/body-cover/body-cover-3.png">
            <div class="catalog-title">Car Body Cover</div>
        </a>

        <a href="#/product-view?id=4" class="catalog-item">
            <img src="/assets/catalog/recaro-seat/recaro-seat-1.png">
            <div class="catalog-title">Recaro seat</div>
        </a>

        <a href="#/product-view?id=5" class="catalog-item">
            <img src="assets/catalog/not-found.png">
            <div class="catalog-title">Insert Title</div>
        </a>

        <a href="#/product-view?id=6" class="catalog-item">
            <img src="assets/catalog/not-found.png">
            <div class="catalog-title">Insert Title</div>
        </a>
    </div>

</div>